<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>
    {{ message.text }}
  </strong>
</div>
<div class="row">
<div class="col-md-8">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Importar de Contatos</h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      <label for="inputArquivo" class="col-sm-2 control-label">Arquivo</label>
      <div class="col-sm-10">
        <img [src]="contentFile" width="50%" height="50%"> 
        <input type="file" id="inputArquivo"  (change)="onFileChange($event)">
      </div>
    </div> 
  </div>
  <div class="box-footer">
    <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Enviar</button>
  </div>
</div>