<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview active">
        <a [routerLink]="['/usuario-list']"><img src="../../../assets/image/User-blue-icon-48.png" /> Usuarios</a>
      </li>

      <li class="treeview active">
        <a [routerLink]="['/campanha-list']"><img src="../../../assets/image/price-tag-icon-48.png" /> Campanhas</a>
      </li>

      <li class="treeview active">
        <a [routerLink]="['/mensagem-list']"><img src="../../../assets/image/text-plain-icon-48.png" /> Mensagens</a>
      </li>

      <li class="treeview active">
          <a [routerLink]="['/lote-list']"><img src="../../../assets/image/Group-Blue-Folder-icon-64.png" width="48px" height="48px" /> Lotes</a>
        </li>
      
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>